.homepage__container {
  font-family: Montserrat, sans-serif;

  h2 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 2rem;

    span {
      color: #1d9bf0;
    }
  }

  @media screen and (min-width: 768px) {
    h2 {
      font-size: 2rem;
      width: 50%;
      margin-bottom: 3rem;
    }
  }

  .homepage__button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;

    .button__container {
      margin: auto;

      button {
        border: none;
        padding: 1rem 2rem;

        color: black;
        background: #1d9bf0;
        border-radius: 0.375rem;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
          0 1px 2px -1px rgb(0 0 0 / 0.1);
        width: 15rem;
      }
    }
  }

  .homepage__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image__container {
      padding-bottom: 2rem;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .homepage__content {
      flex-direction: row;
    }

    .image__container {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }
}