.user-infos__container {
    display: flex;
    margin-bottom: 1.5rem;

    .img__container {
        width: 25vh;
        height: 25vh;
        border-radius: 1rem;
        overflow: hidden;
        margin-right: 3rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .user-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            font-size: 3rem;
            margin-bottom: 0.3rem;
        }

        p {
            font-size: 1.3rem;

            span {
                font-style: italic;
            }
        }

        .stacks__prestations {
            margin-top: 1rem;

            p {
                font-size: 1.2rem;
            }

            .stacks__container,
            .prestations__container {
                display: flex;
                flex-wrap: wrap;

                .prestation__item,
                .stack__item {
                    padding: 0.75rem;
                    border: 1px solid black;
                    margin-right: 0.5rem;
                    border-radius: 1.3rem;
                }

                .prestation__item:last-of-type,
                .stack__item:last-of-type {
                    margin-right: 0;
                }
            }

            .stacks__container {
                margin-bottom: 1rem;
            }
        }

    }
}

@media screen and (max-width: 1280px) {
    .user-infos__container {
        display: flex;
        margin-bottom: 1.5rem;
    
        .img__container {
            width: 30vw;
            height: 30vw;
            border-radius: 1rem;
            overflow: hidden;
            margin-right: 0;
            align-self: center;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
        .user-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 0.5rem;
            h2 {
                font-size: 2rem;
                margin-bottom: 0.3rem;
            }
    
            p {
                font-size: 1rem;
    
                span {
                    font-style: italic;
                }
            }
    
            .stacks__prestations {
                margin-top: 0.5rem;
    
                p {
                    font-size: 1rem;
                }
    
                .stacks__container,
                .prestations__container {
                    display: flex;
                    flex-wrap: wrap;
    
                    .prestation__item,
                    .stack__item {
                        padding: 0.5rem;
                        border: 1px solid black;
                        margin-right: 0.5rem;
                        border-radius: 1rem;
                        margin-bottom: 0.3rem;
                    }
    
                    .prestation__item:last-of-type,
                    .stack__item:last-of-type {
                        margin-right: 0;
                    }
                }
    
                .stacks__container {
                    margin-bottom: 0.5rem;
                }
            }
    
        }
    }
}