body {
    background-color: #f8f8f8;
}

.dev__container {
    display: flex;
    flex-direction: column;
    width: 98vw;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
   
    .dev__container {
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        .profile-prestation__container {
            width: 75%;
        }
    }
}
