.register__container {
  font-family: Montserrat, sans-serif;

  .register__info {
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem auto 0 auto;
    span {
      color: #1d9bf0;
    }
  }

  @media screen and (min-width: 768px) {
    .register__info {
      font-size: 2rem;
      width: 50vw;
    }
  }

  .situation__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .situation__role {
      display: flex;
      flex-direction: column;
      width: 100%;

      .situation__info {
        font-size: 1.5rem;
        text-align: center;
        align-items: center;
        margin-bottom: 2rem;
        margin-top: 1.3rem;
      }
    }

    .buttons {
      display: flex;
      align-self: center;
      flex-direction: column;

      button {
        margin-bottom: 1rem;
      }
    }

    @media screen and (min-width: 768px) {
      .buttons {
        align-content: center;

        button {
          width: 20rem;
          height: 3rem;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .situation__container {
      display: flex;
      flex-direction: row;

      .situation__role {
        width: 50vw;
      }

      .image__container {
        width: 50vw;
        display: flex;

        img {
          width: 85%;
          margin: 0 auto;
        }
      }
    }
  }

  .image__container {
    padding-bottom: 2rem;

    img {
      width: 60vw;
      margin: 0 auto;
    }
  }

}