.register__form__dev {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
  margin-top: 6rem;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  a {
    font-size: 20px;
    text-decoration: none;
    color:#1D9BF0;
    margin-top: 2rem;
  }

  a:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
  }

  .dev__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    input {
      font-family: "Montserrat", sans-serif;
      margin-bottom: 1.5rem;
      width: 20rem;
      height: 1.5rem;
      border-radius: 1rem;
      border-color: #1D9BF0;
      font-size: inherit;
      padding-left: 0.4rem;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      border-radius: 50px;
      cursor: pointer;
      text-transform: uppercase;
      height: 45px;
      width: 130px;
      opacity: 1;
      background-color: #1D9BF0;
      border: 1px solid rgba(0, 0, 0, 0.6);
    }

    button,
    span {
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.7px;
    }

    button:hover {
      transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
    }

    .error {
        color: red;

    }
  }
}
