.register__form__client {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30rem;
  
  h1 {
    font-size: 1.5rem;
  }

  .client__form {
    display: grid;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    input {
      margin-bottom: 0.5rem;
    }
  }
}
