$blueDeverr2: #1d9bf0;

.register__form__client {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 0 20px 20px 20px;
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  a {
    font-size: 20px;
    text-decoration: none;
    color: $blueDeverr2;
  }
  a:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
  }
  .success {
    text-align: center;
    p {
      color: rgb(38, 184, 38);
    }
  }
  .load {
    text-align: center;
    p {
      color: $blueDeverr2;
    }
  }
  .client__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .input__container {
      display: flex;
      flex-direction: column;
      p {
        margin-bottom: 0.3rem;
      }

      label {
        margin-bottom: 0.5rem;
      }

      input {
        font-family: "Montserrat", sans-serif;
        height: 40px;
        border-radius: 1rem;
        border-color: $blueDeverr2;
        font-size: inherit;
        padding: 0.5rem;
      }
    }
    .button__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
      width: 100%;
    }
    .error {
      color: red;
    }
  }
}

@media screen and (min-width: 640px) {
  .register__form__client {
    padding: 0 40px 20px 40px;
    h1 {
      font-size: 2rem;
      font-weight: 300;
    }
    .client__form {
      .input__container {
        font-size: 1.5rem;
        input {
          font-size: 1.5rem;
        }
      }
      .error {
        font-size: 1.1rem;
      }
    }
    .success {
      p {
        font-size: 1.1rem;
      }
    }
    .load {
      p {
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .register__form__client {
    padding: 0 65px 20px 65px;
    h1 {
      font-size: 2.5rem;
      font-weight: 300;
    }
    .client__form {
      .error {
        font-size: 1.3rem;
      }
    }
    .success {
      p {
        font-size: 1.3rem;
      }
    }
    .load {
      p {
        font-size: 1.6rem;
      }
    }
  }
}
