.img-not-found__container {
    width: 100%;
    display: flex;
    justify-content: center;
    .img-not-found {
        width: 40%;
    }
}
h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
}